.inputs{
	margin-bottom: 5px;
	width: 25%;
	height: 25px;
}

#textArea{
	width: 98%;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

button{
	background-color: #DF744A;
	border-color: #DF744A
}

h1{
	background-color: #DF744A; 
	margin:0;
	padding-top:10px; 
	padding-bottom: 10px;
}

#inputHolder{
	height: auto; 
	padding: 15px;
}

#inputDiv{
	display: flex; 
	justify-content: space-between;
}

iframe{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height:auto;
    border-color: #ff0000;
    border-width: 5px
}